  <footer class="c-footer">
    <h3>light is released under the MIT License. Made by <a href="https://twitter.com/ToineLIN" target="_blank" rel="noopener noreferrer">@toinelin</a></h3>
  </footer>
  </body>
</html>