<div class="c-loader">
  <ul class="c-loader__panels">
    <li class="c-loader__panel c-loader__panel--1"></li>
    <li class="c-loader__panel c-loader__panel--2"></li>
  </ul>
  <div class="c-loader__content">
    <svg class="c-loader__content__logo" width="40px" height="72px" viewBox="0 0 70 126" version="1.1">
      <g id="Loader" transform="translate(-925.000000, -537.000000)">
        <polygon stroke-width="1" stroke="#9013FE" fill-rule="nonzero" fill="#FFFFFF" id="lightning-stroke" points="977.540541 537 925 610.275906 957.108108 610.275906 941.054054 663.034527 995.054054 589.758665 962.945946 589.758665"></polygon>
        <polygon fill-rule="nonzero" fill="#9013FE" id="lightning-fill" points="977.540541 537 925 610.275906 957.108108 610.275906 941.054054 663.034527 995.054054 589.758665 962.945946 589.758665"></polygon>
      </g>
    </svg>
  </div>
</div>