.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  pointer-events: none;
  z-index: z('progress-bar');
  .progress_bar {
    width: 100%;
    margin-left: -100%;
    height: 100%;
    background: #9013FE;
    @include hardware;
  }
}
