{% include './../partials/loader.twig' %}
<div class="l-container">
  <ul class="c-panels">
    <li class="c-panel c-panel--1"></li>
    <li class="c-panel c-panel--2"></li>
  </ul>
  <div class="l-content">
    <div class="l-content__wrapper">
      <h1 class="l-content__title l-content__stagger">Website-starter-kit</h1>
      <p class="l-content__paragraph l-content__stagger">Website-starter-kit is a simple boilerplate with
        useful features to create SPAs quickly without spending time on config!
      </p>
      <p class="l-content__subtitle l-content__stagger">See the repository on <a href="https://github.com/toinelin/website-starter-kit" target="_blank" rel="noopener noreferrer">Github</a></p>
    </div>
  </div>
</div>