doctype html
html(lang="en")
  head
    title Antoine Lin | Portfolio
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p I AM AMAZING
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
